/* basic */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Helvetica';
}

/* header */
header {
    transition: 600ms;
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    font-family: 'Montserrat';
    font-weight: 500;
}



@media (min-width: 701px) {
    #logo {
        margin-top: 15px;
        margin-left: 45px;
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 70%;
        margin-top: -30px;
        
    }

}


@media (max-width: 701px) {
    #logo  {
        margin-top: 15px;
        width: 100%;
        font-size: 1.6em;
        text-align: center;
    }

    #about {
        float: left;
        width: 100%;
        padding-top: 10px;
    }


}

#about {
    text-align: center;
    font-size: 1em;
}

#about>a {
    color: #fff;
    text-decoration: none;
}

#about>a:hover {
    color: silver;
    text-decoration: none;
}

#about>a:not(:last-child) {
    margin-right: 7%;
}


/* .fixed */
.fixed {
    transition: 700ms;
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: rgba(0, 0, 0);
}

.fixed #about a {
    color: rgba(0, 0, 0)
}

.fixed #about a:hover {
    color: #7c7c7c
}

#top {
    width: 100%;
    background-image: url(https://oboi-download.ru/files/wallpapers/41/1851.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: auto;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1001px) {
    #top {
        height: 700px;
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        height: 500px;
        font-size: 2em;
        padding-top: 10%;
    }

}

@media (max-width: 650px) {
    #top {
        height: 500px;
        font-size: 1.5em;
        padding-top: 200px;
    }
}

#top h1 {
    padding-top: 17%;
    color: #f6f6f6;
}

#top h3 {
    color: #ffffffc5;
}

/* Главная */

#main {
    transition: 600ms;
    padding: 100px 10%;
    width: 80%;
    text-align: center;
    background-color: #f6f6f6;
    border-top: 1px solid silver;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.6em;
}
#main h3 {
    padding-bottom: 20px;
}

#main span {
    font-size: 0.8em;
}

/* Проекты */
#project {
    transition: 250ms;
    border: 1px solid silver;
    padding: 100px 10%;
    background-color: #f6f6f6;
    width: 80%;
    font-family: 'Montserrat';
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;

}

#project:hover {
    transition: 250ms;
    background-color: #c5c5c5c5;
    cursor: pointer;
    text-decoration: none;
}

#link_button:link {
    text-decoration: none;
    color: black;
}

#link_button:visited {
    color: black;
}


@media (max-width: 701px) {
    #main {
        font-size: 1.3em;
    }
}

/* Разработчики */
#developers {
    transition: 600ms;
    padding: 50px 25%;
    width: 50%;
    text-align: center;
    background-color: #f6f6f6;
    border-top: 1px solid silver;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 300;
    padding-bottom: 100px;
}

#developers h2 {
    font-size: 2em;
    padding-bottom: 50px;
}

#developers>a:link {
    font-size: 1.3em;
    text-decoration: none;
    color: #000;
}

#developers>a:visited {
    color: #000;
}


#dev {
    background-color: #f6f6f6;
    border-radius: 15px;
    margin: 3%;
    border: 1px solid silver;
    transition: 250ms;
    display: flex;
    

}

#dev  img {
    width: 30%;
    border-radius: 15px;
    border: 2px solid silver;
    margin-top: 5%;
    margin-left: -60%;
}

#dev h3 {
    text-align: left;
    margin-left: 6%;
}

#dev span {
    text-align: right;
}